!!! html

%html{:lang => 'en-GB'}
	%head
		%title Agata's flowers
		%meta{:charset => 'UTF-8'}
		%meta{:name => 'description', :content => 'A website about skils of Agata Krężałek in flowers'}
		%meta{:name => 'keywords', :content => 'Fotos, flowers, production'}
		%meta{:name => 'author', :content => 'Artur Brzozowski'}
		%link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/bootstrap.min.css'}
		%link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/style.css'}
		%script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'}
		%script{:src => 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'}
	%body
		%nav.navbar.navbar-inverse.navbar-fixed-top	
		.container	
			.jumbotron
				%h1 Folwer is my passion
				%p I hop it will let you have opinion about my work
		
			.row
				.col-md-4.col-sm-4 
					%a.thumbnail{:href =>'#'}
						%img{:src => 'images/thumb3.jpg', :alt => 'Course work'}
					.caption
						%h3 Course work
						%p I wiork with flowers and i will tel something about it
				.col-md-4.col-sm-4
					%a.thumbnail{:href =>'#'}
						%img{:src => 'images/thumb1.jpg', :alt => 'weding foto'}
					.caption
						%h3 Weding decorations
						%p I wiork with flowers and i will tel something about it
				.col-md-4.col-sm-4 
					%a.thumbnail{:href =>'#'}
						%img{:src => 'images/thumb2.jpg', :alt => 'Own composiotion'}
					.caption
						%h3 My own realisations
						%p I wiork with flowers and i will tel something about it
				
			.carousel.slide#ideal{'data-ride' => 'carousel'}
				%ol.carousel-indicators
					//%li{'data-target' => 'ideal', 'data-slide-to' => 1}
					%li.active{'data-target' => 'ideal', 'data-slide-to' => 0}
					%li{'data-target' => 'ideal', 'data-slide-to' => 1}
					%li{'data-target' => 'ideal', 'data-slide-to' => 2}
					
				.carousel-inner{'role' => 'listbox'}
					//.item
					//	%img{:src => 'images/z (4).jpg', :alt => ''}
					//	.carousel-caption 
					.item.active
						%img{:src => 'images/z (11).jpg', :alt => ''}
						.carousel-caption
					.item
						%img{:src => 'images/z (12).jpg', :alt => ''}
						.carousel-caption 
					.item
						%img{:src => 'images/z (13).jpg', :alt => ''}
						.carousel-caption
			.row
				.col-md-3.col-sm-5
					%img.img-circle.img-responsive{:src => 'images/agata.png', :alt => "Agata's foto"}
				.col-md-9.col-sm-7
					%h1 My story
					%p story